extends layout
block body
  div.navbar.navbar-inverse.navbar-fixed-top
    div.container
      a.navbar-brand(href='#') Angly Blog
  div.container-narrow
  div(ng-controller='AppCtrl').jumbotron
    div.container.custom-align
      div.row
        h1.hero angly blog
      div.span9
       ul.row
         div.col-lg-4
           a(href='/').btn.btn-large.btn-default Home
         div.col-lg-4
           a(href='/addPost').btn.btn-large.btn-default Add a post

    br
    div(ng-view)


  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/lib/jquery.min.js')
  script(src='js/lib/bootstrap.min.js')
