!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title angly blog
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body
    src(src='js/lib/bootstrap.min.js')
    src(src='js/lib/jquery.min.js')
